.first-game-slider {
  width: 65%;
  height: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  .title-in-first-game-slider-and-arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .title-in-first-game-slider {
      font-size: 24px;
      color: white;
      position: relative;
      span {
        background-color: rgb(64, 64, 64);
        padding: 3px;
        border-radius: 6px;
        font-size: 16px;
        position: absolute;
        left: 105%;
        top: 0%;
      }
    }
    .arrow-in-first-game-slider {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .spans-in-game-slider {
        span {
          display: inline-block;
          width: 20px;
          height: 5px;
          border-radius: 4px;
          background-color: white;
        }
      }
      i {
        font-size: 42px;
        padding: 5px;
        color: white;
        cursor: pointer;
        transition: all 200ms ease;
        &:hover {
          color: rgb(200, 200, 200);
        }
      }
    }
  }
  .first-games-slider-root-section {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 25px;
    overflow-x: hidden;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    .first-games-slider-root {
      display: flex;
      align-items: start;
      justify-content: flex-start;
      gap: 25px;
      transition: all 340ms ease;
      margin: 0 auto;
      .game-card {
        flex-shrink: 0;
        width: 243px;
        height: fit-content;
        padding-bottom: 25px;
        display: flex;
        align-items: start;
        justify-content: start;
        position: relative;
        flex-direction: column;
        border-radius: 8px;
        background-color: $boxBack;
        overflow: hidden;
        transition: all 280ms ease;
        text-wrap: nowrap;
        text-overflow: hidden;
        img {
          width: 243px;
          height: auto;
          transition: all 280ms ease;
        }
        .game-name {
          font-size: 18px;
          margin-left: 15px;
          margin-top: 10px;
          color: white;
        }
        .game-description {
          font-size: 16px;
          margin-left: 15px;
          margin-top: 5px;
          color: rgb(169, 169, 169);
        }
        .original-price {
          font-size: 17px;
          margin-left: 72%;
          margin-top: 15px;
          color: rgb(169, 169, 169);
          text-decoration: line-through;
        }
        .all-price {
          display: flex;
          align-items: end;
          justify-content: center;
          flex-direction: column;
          margin-left: 40%;
          .discount-and-price {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            gap: 10px;
            margin-top: 5px;
            .price {
              font-size: 17px;
              color: white;
            }
            .discount {
              background-color: orangered;
              padding: 5px;
              border-radius: 6px;
            }
          }
        }
        &:hover img {
          transform: scale(1.04);
        }
        &:hover {
          background-color: rgb(41, 15, 0);
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1920px) {
  .first-game-slider {
    width: 85%;
    top: 115%;
  }
  .first-games-slider-root-section {
    .first-games-slider-root {
      .game-card {
        width: 187px !important;
        img {
          width: 187px !important;
          height: auto;
          transition: all 280ms ease;
        }
        .game-name {
          font-size: 17px !important;
        }
        .game-description {
          font-size: 15px !important;
        }
        .all-price {
          margin-left: 30% !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .first-game-slider {
    top: 98%;
    width: 95%;
    gap: 15px;
    .title-in-first-game-slider-and-arrows {
      .arrow-in-first-game-slider {
        display: none;
      }
    }
    .first-games-slider-root-section {
      padding: 0;
      overflow-x: scroll;
    }
  }
}

@media (max-width: 450px) {
  .first-game-slider {
    top: 110%;
  }
}
