@font-face {
  font-family: "UbisoftFont-bold";
  src: url(/assets/fonts/Ubisoft\ Sans\ Bold.ttf);
}

@font-face {
  font-family: "UbisoftFont-regular";
  src: url(/assets/fonts/Ubisoft\ Sans\ Regular.ttf);
}

$bold: "UbisoftFont-bold";
$regular: "UbisoftFont-regular";
