.ubisoft-connect {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    rgba(56, 0, 64, 1) 0%,
    rgba(28, 0, 36, 1) 50%,
    rgba(22, 42, 89, 1) 100%
  );
  width: 65%;
  margin: 50px auto;
  .connect-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 90px;
    gap: 10px;
    h1 {
      color: white;
      font-size: 28px;
    }
    p {
      color: rgb(207, 207, 207);
      font-size: 18px;
    }
    button {
      background-color: $btnColor;
      margin-top: 10px;
      border: none;
      padding: 10px 20px;
      border-radius: 18px;
      font-size: 16px;
      color: white;
      cursor: pointer;
      transition: all 180ms ease;
      &:hover {
        background-color: #0059c6;
      }
    }
  }
  .connect-img {
    width: 100%;
    img {
      width: 650px;
    }
  }
}

@media (max-width: 1920px) {
  .ubisoft-connect {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .ubisoft-connect {
    gap: 30px;
    width: 90%;
    flex-direction: column;
    .connect-text {
      text-wrap: wrap !important;
      margin: 15px 0 0 20px;
      h1 {
        font-size: 24px;
      }
      p {
        text-wrap: wrap !important;
        font-size: 16px;
        padding-right: 15px;
      }
      button {
        font-size: 15px;
      }
    }
    .connect-img {
      img {
        width: 400px;
      }
    }
  }
}
